blinker==1.8.2
click==8.1.8
Cython==3.2.4
Flask==3.0.3
Flask-Cors==5.0.0
Flask-Uploads==0.2.1
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==2.1.5
prometheus_client==0.21.1
prometheus_flask_exporter==0.23.2
tqdm==4.67.3
Werkzeug==3.0.6
xaif_eval==0.0.9
zipp==3.20.2
gunicorn==25.1.0